.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {

  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5px;


  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}



.maylikeWrapper{
  margin-top: 120px;
}


.maylikeWrapper h2{
  text-align: center;
  margin: 50px;
  /* color: #324d67; */
  font-weight: bold;

  font-size:24px;
}
